// font-family //
$main-font-family: "Roboto", sans-serif;
// font-size //
$main-font-size: 14px;
$primary-font-size: 16px;
$secondary-font-size: 20px;
// font-weight //
$main-font-weight: 200;
$primary-font-weight: 300;
$secondary-font-weight: 400;
$third-font-weight: 500;
$fourth-font-weight: 700;
// line-height //
$main-line-height: 14px;
$primary-line-height: 17px;
$secondary-line-height: 20px;
$third-line-height: 24px;
$fourth-line-height: 30px;
// transition //
$main-transition: all 0.3s linear;
//colors//
$main-clr: #1c1c1c;
$main-light-clr: #888888;
$primary-clr: #ffffff;
$primary-dark-clr: #d3cccc;
$secondary-clr: #00bdb3;
$third-clr: #4258fe;
$fourth-clr: #c7412f;
