html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
dl,
dt,
dd,
ol,
ul,
li,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

footer,
header,
menu,
nav,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 53px 0;
}

img {
  max-width: 100%;
  height: auto;
}
