// Font-family //
$main-font-family: "Averta", "Averta-black";

// Font-size //
$main-font-size: 12px;
$primary-font-size: 14px;
$secondary-font-size: 18px;

// Font-weight //
$main-font-weight: 200;
$primary-font-weight: 300;
$secondary-font-weight: 400;
$third-font-weight: 500;
$fourth-font-weight: 700;

// Colors//
$main-clr: #1c1c1c;
$main-light-clr: #a3a3a3;
$primary-clr: #ffffff;
$primary-dark-clr: #f8f8f8;
$secondary-clr: #4258fe;
$third-clr: #00bdb3;
$fourth-clr: #9401d3;
$border-clr: 1px solid #dedede;
$red-clr: #ec0000;
// Social media colors//
$rss-clr: #fa9b39;
$fb-clr: #3b5998;
$tw-clr: #00aced;
$gp-clr: #c53942;
$yt-clr: #dd4b39;

// Line-height //
$main-line-height: 14px;
$primary-line-height: 17px;
$secondary-line-height: 20px;
$third-line-height: 24px;
$fourth-line-height: 30px;

// Transition //
$main-transiton: all 0.3s linear;
