// font-family //   
$main-font-family: 'Roboto',
sans-serif;
//colors//
$main-clr:#1c1c1c;
$main-light-clr:#888888;
$primary-clr:#ffffff;
$primary-dark-clr:#F8F8F8;
$secondary-clr:#4258fe;
$third-clr:#00bdb3;
$fourth-clr:#9401d3;
// font-size //
$main-font-size:12px;
$primary-font-size:14px;
$secondary-font-size:18px;
// font-weight //
$main-font-weight:200;
$primary-font-weight:300;
$secondary-font-weight:400;
$third-font-weight:500;
$fourth-font-weight:700;
// line-height //
$main-line-height:14px;
$primary-line-height:17px;
$secondary-line-height:20px;
$third-line-height:24px;
$fourth-line-height:30px;
// transition //
$main-transition: all 0.3s linear;