$bg-color: #fef0fd;
$main-color1: red;
$main-color2: white;
$txt-color: #232323;
$txt-small:#888888;
$size0: 0px;
$size6: 6px;
$size9: 9px;
$size14:14px;
$size16:16px;
$size18:18px;
$size5:5px;
$full: 100%;
$full-33: 33%;
$full-67:67%;
$d-flex: flex;
$d-inline: inline-block;

$txt-big: uppercase;

$font-weig-1: lighter;